
img {
    width: 150px;
    height: 150px;
 
}
.div1 {
  margin-bottom: 100px;
}
.img1 {
  float:right;
}
.img2 {
  float: left;
}

.clear-div1 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
  }
  
  .clear-div2 {
    padding: 10px;
    border: 3px solid red;
  }
  
  .clear-div3 {
    float: left;
    padding: 10px;  
    border: 3px solid #73AD21;
  }
  
  .clear-div4 {
    padding: 10px;
    border: 3px solid red;
    clear: left;
  }
